@media (min-width: 0px) {
  html {
    font-size: 30.00%;
  }
}

@media (min-width: 320px) {
  html {
    font-size: 40.00%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 50.06%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 58.74%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.50%;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 70.03%;
  }
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  background: #ddd;
}

ul {
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

.black {
  color: black;
}

#root {
  display: flex;
  justify-content: center;
}

.Game {
  max-width: 1000px;
  width: 100%;
}

.Columns {
  display: flex;
  list-style-type: none;
}

.Column {
  margin-right: 15px;
  flex: 1 1 0;
}

.Column:last-child {
  margin-right: 0;
}

.Column_cards {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.Column_placeholder {
  margin: 2px auto;
  height: 25px;
  border-radius: 3px;
  border: 1px dashed #999;
  background-color: #fafafa;
  font-size: 11px;
  color: #555;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.isMovingKing .Column_placeholder {
  cursor: pointer;
}

.Card {
  margin: 2px 0;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 2.1rem;
  line-height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  opacity: 0.60;
}

@media (min-width: 700px) {
  .Card {
    font-size: 1.7rem;
  }
}

.Card.isClosed {
  background-position: center 72px;
  background-image: url(../images/card-back.png);
  background-color: #FCDFDF;
  opacity: 1;
  border: 1px solid rgba(20, 0, 0, 0.4);
}

.Card.isMoveable {
  opacity: 1;
  border-color: #555;
  cursor: pointer;
}

.Card.isMoveable:hover {
  border: 1px solid rgba(0, 200, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 200, 0, 1);
}

.Card.isMarked {
  background-color: rgba(255, 255, 0, 0.5);
}

.Card.isOnPile {
  opacity: 1;
  cursor: pointer;
  border: 1px solid black;
}

.Card.isOnPile.Pile_placeholder {
  cursor: default;
  opacity: 0.35;
  border: 1px solid black;
}

.m-card_small {
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 0 3px;
  background: #fafafa;
}

.Piles {
  margin-bottom: 15px;
  border-bottom: 3px double #888;
}

.Piles_metaBar {
  display: flex;
  align-items: center;
  margin-bottom: 10px
}

.Piles_info {
  width: 77.78%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Piles_headline {
  margin: 0 20px 0 0;
}

.Piles_buttons {
  margin-left: auto;
  padding-left: 11px;
  display: flex;
  flex: 1;
}

.Piles_undo {
  margin-right: 15px;
  flex: 1;
}

.Piles_backArrow {
  font-size: 22px;
  font-weight: bold;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.Piles_newGame {
  flex: 1;
}

.Piles_note {
  margin: 0;
  font-size: 13px;
  font-style: italic;
}

.Piles_list {
  list-style-type: none;
  display: flex;
  min-height: 30px;
  margin-bottom: 15px;
}

.Pile {
  flex: 1 1 0;
  margin-right: 15px;
}

.Pile_serveCardsWrapper {
  flex: 1 1 0;
}

.Piles_serveCards {
  width: 100%;
  border-radius: 3px;
  background: #234892;
  color: white;
  border: 0;
  height: 100%;
  margin: 2px 0;
  height: 25px;
}
