html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}